.container {
    display: grid;
    padding: 16px;
}

.title {
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 12px;
}

.list {
    max-width: 100%;
    overflow-x: auto;
    display: flex;
    gap: 10px;
    padding-bottom: 6px;

    overflow-x: auto;

    &::-webkit-scrollbar {
        height: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.25);
        border-radius: 10px;
    }
}

.item {
    // border: 1px solid red;
    min-width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    color: #fff;
}

.time {
    font-size: 12px;
    opacity: 0.8;
}
.img-icon {
    width: 30px;
    height: 30px;
}
.temp {
    font-size: 16px;
    font-weight: 600;
}
