@import 'normalize.css';
:root {
    --default-text-color: #fff;
    --white-text-color: #e9e9e9;
    --default-width-layout: 1504px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;

    font-size: 62.5%;
    line-height: 1.5;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    text-rendering: optimizeLegibility;
    background-image: url('../Image/BGRImage.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

button,
input,
[tabindex] {
    border: none;
    outline: none;
}

a {
    color: var(--default-text-color);
    text-decoration: none;
}
