@import 'normalize.css';
:root {
    --default-text-color: #fff;
    --white-text-color: #e9e9e9;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    line-height: 1.5;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    text-rendering: optimizeLegibility;

    margin: 0;
    height: 100vh;
    background: linear-gradient(150deg, #2b3c5c 0%, #8d6c98 35%, #c884a7 55%, #df9fbb 75%, #f3d0df 100%);

    background-size: cover;
    background-repeat: no-repeat;
}
/* Noise overlay */
body::before {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    background: 
        url("https://grainy-gradients.vercel.app/noise.svg"); /* noise SVG cực nhẹ */
    opacity: 0.4;     /* chỉnh độ nhiễu: 0.1 = nhẹ, 0.4 = mạnh */
    mix-blend-mode: overlay;  
}

button,
input,
[tabindex] {
    border: none;
    outline: none;
}

a[href] {
    color: var(--default-text-color);
    text-decoration: none;
}
