.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper-content {
    margin-top: 110px;
    display: flex;
    justify-content: center;
    width: 100%;
}
.wrapper-content .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100%;
    padding: 0 25px;
    width: var(--default-width-layout);
}
