.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 1000px;
}
.wrapper-content {
    margin-top: 110px;
    display: flex;
    justify-content: center;
    width: 100%;
}
.wrapper-content .content {
    /* Sử dụng CSS Grid để chia cột */
    display: grid; 
    
    /* Thiết lập 2 cột: Cột trái (lớn) chiếm 2 phần, cột phải (nhỏ) chiếm 1 phần */
    grid-template-columns: 3fr 2fr; 
    
    /* Khoảng cách giữa các cột và hàng */
    gap: 30px;
    padding: 0 25px;
    width: var(--default-width-layout);
}
