.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 1000px;
}
.wrapper-content {
    margin-top: 110px;
    display: flex;
    justify-content: center;
    width: 100%;
}
.wrapper-content .content {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 30px;
    width: var(--default-width-layout);
    // border: 1px solid red;
}

.Wrapper-left-content {
    border: 1px solid red;
    min-height: 300px;
}

.Wrapper-right-content {
    border: 1px solid red;
    min-height: 300px;
}

@media (max-width: 768px) {
    .wrapper-content .content {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .left-content,
    .right-content {
        grid-column: 1 / -1;
    }
}
