.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: var(--default-text-color);

    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.2);

    z-index: 1;

    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 10px;
}
