.wrapper {
    display: flex;
    flex-direction: column;

    color: var(--default-text-color);

    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.2);

    z-index: 1;

    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 10px;
}

.transparent {
    background-color: transparent;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border: none;
}
