.wrapper {
    display: flex;
    flex-direction: column;

    color: var(--default-text-color);

    background: rgba(255, 255, 255, 0.152);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.2);

    z-index: 1;

    width: 100%;
    height: 100%;
    padding: 15px;
    border-radius: 25px;

    &:hover {
        background: rgba(255, 255, 255, 0.24);
    }
}

.transparent {
    background-color: transparent;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border: none;
    &:hover {
        background: transparent;
    }
}
