.Wrapper {
    width: 100%;
    min-height: 310px;
    border-radius: 12px;
    color: #fff;
}

.Wrapper-content {
    padding: 24px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main-header {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 2rem;
    opacity: 0.9;
}

.body {
    display: flex;
    margin-top: auto;
    margin-bottom: 20px;
    align-items: end;
    gap: 60px;
}

.temp-main {
    font-size: 13rem;
    font-weight: 700;
    margin: 0;
    line-height: 1;
}
.temp-detail {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.range {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    .icon-arrow {
        font-size: 1.8rem;
    }
    .temp-value {
        font-size: 2rem;
    }
}

.divider {
    width: 1px;
    height: 18px;
    background-color: rgba(201, 201, 201);
}

.feels-like {
    font-size: 2rem;
    font-weight: 200;
}

.status {
    display: flex;
    flex-direction: column;
}

.icon-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    min-height: 100px;
    padding: 15px;
    border-radius: 200px;
    margin-bottom: 20px;
}

.icon-weather {
    font-size: 5rem;
}

.status-text {
    font-size: 2rem;
}
