.wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60px;
    border: 1px solid red;
    box-shadow: 0px 1px 1px rgba(171, 171, 171, 0.396)
    // background-color: red;
}

.wrapper .inner {
    display: flex;
    align-items: center;
    justify-content: center; // tạm thời là center
    min-height: 100%;
    padding: 0 25px;
    width: 1150px;
}
