.wrapper {
    position: fixed;
    top: 20px;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60px;
    z-index: 10;
}

.wrapper .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100%;
    padding: 0 25px;
    width: var(--default-width-layout);
}

.logo {
    display: flex;
    align-items: center;
    height: 40px;
    gap: 10px;

    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 100px;
    border: 1px solid rgba(255, 255, 255, 0.2);

    padding: 8px;

    .logo-image {
        width: 45px;
    }
    .name-website {
        font-size: 1.7rem;
    }
}
